<div class="container">
	<div class="col-xs-11 col-xs-offset-1">
		<h1>注文履歴詳細</h1>
	</div>

	<div class="col-xs-11 col-xs-offset-1">
		<div>購入者</div>
			<div><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
		<div>注文日</div>
			<div>〒<%= @order.postal_code %></div>
		<div>配送先</div>
			<div><%= @order.address %></div>
			<div><%= @order.name %></div>
			<div><%= @order.payment_method %></div>
		<div>支払い方法</div>
			<div><%= @order.status %></div>
	</div>

	<div class="col-xs-8">
		<div class = "orders">
			<table class="table table-hover">
				<thead>
              		<tr>
						<th>商品名</th>
						<th>単価</th>
						<th>数量</th>
						<th>小計</th>
					</tr>
				</thead>
				<tbody>
					<% sum = 0%>
					<% @order.order_details.each do |order_detail| %>
						<tr>
							<td><span><%= order_detail.item.name %></span></td>
							<td><span><%= order_detail.price %></span></td>
							<td><span><%= order_detail.amount %></span></td>
							<td><span><%= sub_total = order_detail.price.to_i * order_detail.amount.to_i %></span></td>
							<td><span><% sum+=sub_total %></span></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-4">
		<div>商品合計　　　<%= sum %>円</div>
		<div>送料 　　　　　　800円</div>
		<div>請求金額合計　<%= sum+=800 %>円</div>
	</div>

